<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Editar Manutenção - Gerenciamento Financeiro</title>
    <style>
        body {
            padding: 20px;
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <header class="mb-4">
        <h1 class="text-center">Editar Manutenção</h1>
    </header>

    <main>
        <div class="container">
            <form id="form-editar-manutencao" class="bg-white p-4 rounded shadow-sm mb-4" action="/manutencao/edit/{{ manutencao.id }}" method="POST">
                <div class="form-group">
                    <label for="descricao-manutencao">Descrição da Manutenção:</label>
                    <input type="text" class="form-control" id="descricao-manutencao" name="descricao" value="{{ manutencao.descricao }}" required>
                </div>
                <div class="form-group">
                    <label for="data-manutencao">Data:</label>
                    <input type="date" class="form-control" id="data-manutencao" name="data" value="{{ manutencao.data }}" required>
                </div>
                <div class="form-group">
                    <label for="custo-manutencao">Custo:</label>
                    <input type="number" class="form-control" id="custo-manutencao" name="custo" value="{{ manutencao.custo }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Atualizar Manutenção</button>
            </form>

            <a href="/manutencao" class="btn btn-secondary">Voltar à Lista de Manutenções</a>
        </div>
    </main>

    <footer class="text-center mt-4">
        <p>&copy; 2024 CondControl - Todos os direitos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
