<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="my-4 text-center">Cadastro</h2>
        <form method="POST" action="{{ url_for('register') }}">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="tel" name="telefone" id="telefone" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="moradia">Moradia (Bloco/Endereço)</label>
                <input type="text" name="moradia" id="moradia" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="apartamento">Apartamento</label>
                <input type="text" name="apartamento" id="apartamento" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
        
        <p class="mt-3">Já tem uma conta? <a href="{{ url_for('login') }}" class="btn btn-primary">Faça login</a></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="mt-4">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>
